body {
    background: purple;
    color: white;
}

/*
To bundle everything including css, so I dont have to connect it with
I make this folder and put style.css, 
In webpack.config.js i write this right after output object:
module: {
        rules: [
            {
                test: /\.css$/,
                use: ['style-loader', 'css-loader']
            },
        ],
    },
and then in terminal I write: npm run build
and it will be implemented and bundled
*/